{% extends 'index.html' %}

{% block content %}
<section class="page-section bg-primary" id="faq">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">

                <h2 class="text-white mt-0">FAQ</h2>
                <hr class="divider divider-light"/>

                <h4 class="text-white mt-0">How do I book an appointment?</h4>
                <small class="text-white-75 mb-5">You can book an appointment 
                    by visiting our website's booking page 
                    or contacting us directly through phone 
                    or email. We recommend booking in advance 
                    as our artists' schedules fill up quickly.</small>
                    <hr class="divider divider-light"/>

                    <h4 class="text-white mt-0">How much will my tattoo cost?</h4>
                <small class="text-white-75 mb-5">Tattoo prices vary depending on the design, 
                    size, and complexity. For an accurate price estimate, 
                    please consult with our artists during your consultation appointment.</small>
                    <hr class="divider divider-light"/>

                    <h4 class="text-white mt-0">How should I prepare for my tattoo appointment?</h4>
                <small class="text-white-75 mb-5">Avoid alcohol and aspirin 24 hours before your appointment. 
                    Make sure to eat a good meal and stay hydrated. 
                    Wear comfortable clothing that allows easy access to the area you're getting tattooed.</small>
                    <hr class="divider divider-light"/>

                    <h4 class="text-white mt-0">Can I bring my own design?</h4>
                <small class="text-white-75 mb-5">Yes, we welcome custom designs! 
                    Feel free to bring in your own design or collaborate with our 
                    artists to create a unique tattoo that suits your style.</small>
                    <hr class="divider divider-light"/>

                    <h4 class="text-white mt-0">What if I need to reschedule or cancel my appointment?</h4>
                <small class="text-white-75 mb-5">Please contact us at least 48 hours in advance 
                    if you need to reschedule or cancel your appointment. Deposits are non-refundable, 
                    but we can transfer them to a new appointment date within a reasonable timeframe.</small>
                    <hr class="divider divider-light"/>

                    <h4 class="text-white mt-0">Do you offer touch-ups?</h4>
                <small class="text-white-75 mb-5">Yes, we offer touch-ups for our tattoos. 
                    Please consult with our artists to schedule a touch-up appointment if needed.</small>
                    <hr class="divider divider-light"/>

                    <h4 class="text-white mt-0">Can I see examples of your previous work?</h4>
                <small class="text-white-75 mb-5">Absolutely! You can view our artists' portfolios on our website 
                    or social media pages to see examples of their previous work and find a style that resonates with you.</small>
                    
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
