{% load static%}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Krissi U.</h1>
                <small class="text-white font-weight-bold">Surrealism 
                    <i class="bi bi-dot"></i> Black & Grey 
                    <i class="bi bi-dot"></i> Neotraditional</small>
                <hr class="divider divider-light" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                
                <div><a class="btn btn-primary btn-xl" href="#contact">Book Now</a></div>
                <br>
                <div><a class="btn btn-primary btn-xl" href="#portfolio">Portfolio</a></div>
            </div>
        </div>
    </div>
</header>