{% extends 'index.html' %}

{% block content %}
<section class="page-section bg-primary" id="success">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">

                <h2 class="text-white mt-0">Success!</h2>
                <hr class="divider divider-light"/>

                <h4 class="text-white mt-0">Your message has been sent to Krissi!</h4>
                <small class="text-white-75 mb-5">You should recieve a reply back soon. <br> (Please make sure your email is correct and you check your junk folder.)</small>
                    <hr class="divider divider-light"/>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
