{% load static %}

<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
                    <button class="btn" onclick="window.open('faq');">
                        <i class="bi bi-question-circle-fill h3"></i></button>
                <button class="btn" onclick="window.open('https://www.google.com/maps/place/Chapter+Two+Studio/@-36.847586,174.7649503,15z/data=!4m6!3m5!1s0x6d0d47482d9cfe8d:0xd94e9630993c2a3e!8m2!3d-36.847586!4d174.7649503!16s%2Fg%2F11g1q0t_8y?entry=ttu');">
                    <i class="bi bi-geo-alt-fill h3"></i></button>
                    <button class="btn" onclick="window.open('https://www.instagram.com/sweetchilli.tt/');">
                        <i class="bi bi-instagram h3"></i></button>
        </div>
    </div>
    
</footer>